.event-profile {
    width: 100%;
    min-width: 650px;
}

.event-details {
    width: 80%;
    margin: auto;
}

.event-profile-img {
    width: 100%;
    height: 69vh;
    margin: auto;
    object-fit: cover;
}

.event-detail-body {
    width: 100%;
    min-width: 520px;
    margin: auto;
}

.event-detail-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000000;
}

.event-detail-location {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000000;
}

.event-profile-posts {
    width: 80%;
    min-width: 520px;
    margin: auto;
}

.rsvp-bar-outer {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #000000;
    height: 10vh;
}

.rsvp-bar {
    height: 100%;
    border: none;
    background-color: #ffffff;
    padding: 2vh 3vh;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-weight: 600;
}

.rsvp-bar.active {
    background-color: #000000;
    color: #ffffff
}

.rsvp-bar-first {
    margin-right: 10px;
    font-size: large;
    font-weight: 500;
}