form {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

h1.form-header {
  color: var(--main-color);
  font-weight: 800;
  font-size: 3rem;
  margin-bottom: 0.6rem;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-bottom: 5px;
  align-items: start;
  justify-content: flex-start;
}

.form-row input {
  padding: 0.75rem 10px;
  border: 0.07rem solid #f3f3f3;
  border-radius: 0.2rem;
  font-size: 16px;
  width: 100%;
}

.form-row textarea {
    padding: 0.75rem 10px;
    border: 0.07rem solid #f3f3f3;
    border-radius: 0.2rem;
    font-size: 16px;
    width: 100%;
  }

.form-row input::placeholder {
  opacity: 0.5;
}

.form-row input:focus::placeholder {
  opacity: 0;
}

.form-submit-button {
  background-color: #000000;
  color: #ffffff;
  padding: 0.75rem 10px;
  border: none;
  transition: background-color 0.2s ease;
  font-weight: 700;
  font-size: 1rem;
  margin-top: 0.9rem;
}

.form-submit-button:hover {
  background-color: #ffffff;
  color: #000000;
}

.field-error {
  color: #ff0000;
  font-size: smaller;
}

.genre-action {
  border: none;
  background-color: #000000;
  color: #ffffff;
  padding: 15px;
}

.genre.form-label {
  width: 125px;
}

.form-row.genre {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  margin-bottom: 5px;
  align-items: center;
}

.text-link {
    font-weight: 600;
}

.text-link:hover {
    cursor: pointer;
}
