.user-profile-upper {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    padding-bottom: 25px;
    border-bottom: 1px solid #000000;
}

.user-profile-img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 50%;
}

.user-profile-name {
    margin-left: 30px;
}